.contact-hero {
  background: url("/public/contact/contactUs.jpg") center/cover no-repeat;
  height: 50vh;
  position: relative;
}

.contact-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.contact-hero > div {
  position: relative;
  z-index: 2;
}

.map-container {
  overflow: hidden;
  border-radius: 12px;
}
